/* Footer */
.site-footer{
  text-align: center;
  border-top:1px solid rgba(2,6,23,0.04); padding:1rem 0; margin-top:2rem; background:transparent;
  display:flex; align-items:center; justify-content:center; gap:1rem; flex-direction:column; 
}
.footer-inner{
  text-align: center;
  width: 90%; display:flex; align-items:center; justify-content:center; gap:1rem; flex-direction:column; 
}

a{text-decoration: none; color: var(--text);}

hr{width: 90%;}

@media (min-width: 700px){
  .footer-inner{ flex-direction:row;}
  .container{ width:92%; }
}

/* Extra-large screens */
@media (min-width: 1100px){
  .container{ width:88%; }
}